@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.contenedor {
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.card-header {
	background-color: #007bff;
	color: #fff;
}

.image {
	border: 1px solid #DFDFDF;
}

.button {
	margin: 5px;
}