@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	padding-top: 4.5rem;
}

.header {
	width: 100%;
}

.navbar {
	padding-top: 1em;
	padding-bottom: 1em;
}

.dropdown-menu {
	margin-top: 14px;
}

@media ( max-width : 900px) {
	.dropdown-menu {
		margin-top: 8px;
	}
}

.card-body {
	padding: 0;
}

.contenedor {
	width: 70%;
	margin: 0 auto;
}

@media ( max-width : 900px) {
	.contenedor {
		width: 100%;
	}
}

.addCar, .addRace, .editRace, .editParticipation {
	margin-top: 1.5em;
}

.form-group {
	padding: 0 1em 0 1em;
}

.form-group:first-child {
	padding-top: 0.5em;
}

.image {
	border: 1px solid #DFDFDF;
}

.button {
	margin-left: 1em;
	margin-bottom: 1em;
}

i:hover {
	cursor: pointer;
}

td, th {
	text-align: center;
}

.hidden {
	display: none;
}