@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.header {
	width: 100%;
}

.navbar {
	padding-top: 1em;
	padding-bottom: 1em;
}

main {
	padding-top: 50px;
}

.card-body {
	padding: 0;
}

.contenedor {
	width: 70%;
	margin: 0 auto;
}

@media (max-width: 900px) {
	.contenedor {
		width: 100%;
	}
}

.addCar, .addRace, .editRace {
	margin-top: 2em;
}
.form-group {
	padding: 0 1em 0 1em;
}

.form-group:first-child {
	padding-top: 0.5em;
}

.image {
	border: 1px solid #DFDFDF;
}

.button {
	margin-left: 1em;
	margin-bottom: 1em;
}


td, th {
	text-align: center;
}

.hidden {
	display: none;
}
