<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<title>Fórmula 1/ Editar coche</title>
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="contenedor">
		<div class="card border-secondary mb-3" style="border: 0;">
			<div class="row">
				<div class="col-sm-8" style="padding-right: 0;">
					<img
						th:src="@{/files/} + ${ car.foto != '' ? car.foto : 'imagendefecto.png'}"
						style="max-width: 100%;" />
				</div>
				<div class="col-sm-4"
					style="text-align: center !important; padding-left: 20px;">
					<div class="card bg-light mb-3">
						<div class="card-header">Coche</div>
						<div class="card-body">
							<h5 class="card-title" th:text="${car.marca}"></h5>
							<p class="card-text" th:text="${car.modelo}"></p>
						</div>
					</div>
					<div class="card bg-light mb-3">
						<div class="card-header">Potencia</div>
						<div class="card-body">
							<h5 th:text="${car.potencia}"></h5>
						</div>
					</div>
					<div class="card bg-light mb-3">
						<div class="card-header">Matrícula</div>
						<div class="card-body">
							<h5 class="card-title" th:text="${car.matricula}"></h5>
						</div>
					</div>
					<div class="card bg-light mb-3">
						<div class="card-header">Color</div>
						<div class="card-body">
							<h5 class="card-title" th:text="${car.color}"></h5>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="clearfix">
			<div class="addParticipation card border-secondary mb-3">
				<form action="#" th:action="@{/participation/addParticipationCar}"
					th:object="${participation}" method="post">
					<div class="card-header">
						<h1>Registrar Carrera</h1>
					</div>
					<div class="card-body">
						<div th:if="${success eq true}">
							<div class="alert alert-primary" role="alert">Participación
								añadida con éxito</div>
						</div>
						<div th:if="${success eq false}">
							<div class="alert alert-danger" role="alert">Algo ha salido
								mal</div>
						</div>
						<div class="form-group">
							<label for="coche">Coche: </label> <input type="text"
								class="form-control" name="coche" th:value="${car.matricula}"
								readonly />
						</div>
						<div class="form-group">
							<label for="carrera">Carrera: </label> <select
								class="custom-select custom-select-lg mb-3"
								th:field="*{carrera}">
								<option value="">Seleccione una carrera</option>
								<option th:each="race: ${races}" th:value="${race.nombre}"
									th:text="${race.nombre} + ' (' + ${race.fecha} + ')'"></option>
							</select>
						</div>
						<div class="form-group">
							<div class="input-group mb-3">
								<label class="input-group-text" for="posicion">Posición
								</label> <input type="number" min=0 class="form-control" name="posicion"
									th:field="*{posicion}" required />
							</div>
						</div>
						<div>
							<input type="submit" class="btn btn-primary button"
								value="Guardar participación" />
						</div>
					</div>

				</form>
			</div>
		</div>
		<div th:if="${participations.size()} <= 0">
			<div class="alert alert-danger" role="alert">No hay carreras en
				este momento</div>
		</div>
		<div th:if="${participations.size()} > 0"
			class="editParticipation card border-secondary mb-3">
			<div class="card-header">
				<h1>Carreras</h1>
			</div>
			<div class="card-body">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">Carrera</th>
							<th scope="col">Posición</th>
							<th scope="col">Fecha</th>
							<th scope="col">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="participation: ${participations}">
							<form action="#" th:action="@{/cars/removeParticipation}"
								method="get">
								<td><span th:text="${participation.carrera}">Carrera</span></td>
								<td><span th:text="${participation.posicion}">Posición</span></td>
								<td><span th:text="${participation.fecha}">Fecha</span></td>
								<td><input type="text" name="id"
									th:value=${participation.id} class="hidden" /> <input
									type="text" name="coche" th:value=${participation.coche}
									class="hidden" />
									<button type="submit">
										<i class="fas fa-trash-alt"></i>
									</button></td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- .editParticipation -->

		<div class="card border-secondary mb-3">
			<form action="#" th:action="@{/cars/updateCar}" th:object="${car}"
				method="post" enctype="multipart/form-data">
				<div class=" carDates card-header">
					<button id="editCar">
						<i class="fas fa-pen-square"></i>
					</button>
					<h1>Editar Coche</h1>
				</div>
				<div class="card-body">
					<div th:if="${successEdit eq true}">
						<div class="alert alert-primary" role="alert">Coche editado
							con éxito</div>
					</div>
					<div th:if="${successEdit eq false}">
						<div class="alert alert-danger" role="alert">La matrícula ya
							existe</div>
					</div>
					<div class="form-group">
						<input type="text" name="id" hidden th:value="${car.id}"
							th:field="*{id}" /> <label for="marca">Matrícula: </label> <input
							type="text" class="form-control inputDisable" name="matricula"
							th:value="${car.matricula}" th:field="*{matricula}" required
							readonly />
					</div>
					<div class="form-group">
						<label for="marca">Marca: </label> <input type="text"
							class="form-control inputDisable" name="marca"
							th:value="${car.marca}" th:field="*{marca}" required readonly />
					</div>
					<div class="form-group">
						<label for="modelo">Modelo: </label> <input type="text"
							class="form-control inputDisable" name="modelo"
							th:value="${car.modelo}" th:field="*{modelo}" required readonly />
					</div>
					<div class="form-group">
						<label for="potencia">Potencia: </label> <input type="number"
							class="form-control inputDisable" name="potencia"
							th:value="${car.potencia}" th:field="*{potencia}" required
							readonly />
					</div>
					<div class="form-group">
						<label for="color">Color: </label> <input type="text"
							class="form-control inputDisable" name="color"
							th:value="${car.color}" th:field="*{color}" required readonly />
					</div>
					<div class="form-group">
						<label for="file">Imagen: </label> <input type="file"
							class="form-control inputDisable" name="file" />
					</div>
					<div>
						<input type="submit" class="btn btn-primary button"
							value="Editar coche" />
					</div>
				</div>
			</form>
		</div>
		<div>
			<a href="/cars/listCars" class="btn btn-primary button"
				style="float: right;">Ir al listado de coches</a>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
</body>
</html>